
body { font-family: 'Poppins', sans-serif; background-color: #121212; color: white; }
html { scroll-behavior: smooth; }
.navbar, footer { background-color: #0d0d0d; }
#scrollToTopBtn {
  position: fixed; bottom: 20px; right: 20px; background-color: #333; color: white;
  border: none; border-radius: 50%; padding: 15px; font-size: 24px; cursor: pointer;
  display: none; transition: all 0.3s ease;
}
#scrollToTopBtn:hover { background-color: #555; }
